<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>dockless </title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="style.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/5.5.0/d3.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/d3-tip/0.9.1/d3-tip.js"></script>
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
</head>

<body>
    <header>
        <h1>Ride VS Weather</h1>
    </header>
    <nav class="navbar navbar-default">
        <div class="container-fluid">

            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1"
                    aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="../../index.html">Home</a>
            </div>
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                            aria-expanded="false">visualization
                            <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu">
                            <!-- <li>
                                        <a href="../tamplates/index.html">Home</a>
                                    </li> -->
                            <li>
                                <a href="../ride_weather/ride_weather.html">Rides vs Weather</a>
                            </li>
                            <li>
                                <a href="../ride_weather_desc/ride_weather_desc.html">Ride vs Weather Desciption</a>
                            </li>
                            <li>
                                <a href="../per_day/per day.html">Scooter Usage Per Day</a>
                            </li>
                            <li>
                                <a href="../trip_weather/trip.html">Trips vs Time</a>
                            </li>
                            <li>
                                <a href="../trip_map/map.html">Trips Map</a>
                            </li>
                        </ul>
                </ul>
            </div>

            <!-- <div id="plot"></div> -->
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-5 col-sm-12" id='plot1' style="text-align: center">
                        <h3> Percipitation vs Rides</h3>
                    </div>
                    <div class="col-md-1 col-sm-12">
                    </div>

                    <div class="col-md-5 col-sm-12" id='plot2' style="text-align: center">
                        <h3> Temperature vs Rides</h3>
                    </div>
                </div>
                <!-- <div class='container-fluid'>
                    <div class="row">
                            <h3> Rides/hr vs Weather Description</h3>
                        <div class="col-md-12 col-sm-12" id='plot3' style="text-align: center">
                            
                        </div>
    
                    </div>
                </div> -->


            </div>

            <!-- <div id="plot1"></div>
                            <div id="plot2"></div> -->


            <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/5.5.0/d3.min.js"></script>
            <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>

            <script src="prec_rides.js"></script>
            <script src="app.js"></script>
            <script src="temp_rides.js"></script>
            <script src="app_weather.js"></script>
            <script src="../ride_weather//weather_desc.js"></script>
            <script src="../ride_weather/hour.js"></script>




            <script src="https://code.jquery.com/jquery-3.2.1.js" integrity="sha256-DZAnKJ/6XZ9si04Hgrsxu/8s717jcIzLy3oi35EouyE="
                crossorigin="anonymous"></script>

            <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
                crossorigin="anonymous">
                </script>
</body>

</html>